/* seletor{ 
    propriedade: valor;
}

 seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
}

seletor {
    propriedade: valor;
} */

.azul {
    color: blue;
}

.vermerlho {
    color: crimson;
}

